body{
    background-color: #F2F1EB;
    color: #FFEFE8;
}

#banner{
    color : #111;
    font-size: 20px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#clock{
    font-size: 50px;
    background-color: #637E76;
    padding: 20px 50px;
    border-radius: 10px;
    margin-top: 10px;
}