html{
    margin:0;
}

span{
    display:block;
}

.button{
    height:100px;
    width:100px;
    border:solid black 2px;
    display:inline-block;
}

#red{
    background:red;
}

#green{
    background:green;
}

#yellow{
    background:yellow;
}

#orange{
    background:orange;
}

#grey{
    background:grey;
}